.group-list .ant-list-items {
  overflow: auto;
  max-height: 400px;
}

.repo-list .ant-list-items {
  overflow: auto;
  max-height: 400px;
}



.group-item-active {
  background-color: #11b86d;
  
  color: #fff !important;
}

.ant-list-header {
  background-color: rgb(245, 249, 255) !important;
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
}

.repo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}